.khung{
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
.boxtop{
	width: 1000px;
	height: auto;
	margin: 0 auto;
}

.boxlinetop{
	float: left;
	width: 1000px;
	height: 50px;
	background: black;
}
.boxlinetop img{
	margin: 15px 10px 0 15px;
	float: left;
	width: 15px;
	height:10px;
}
.boxlinetop p.lan{
	float: left;
	font-size: 10px;
	margin: 15px 10px 15px 0px;
	color: white;
}
.boxlinetop img.icon{
	width: 15px;
	height:15px;
	float: left;
	margin: 15px 3px;
}
.boxtop_duoi{
	width: 100%;
	height: 100px;
	background: white;
}

h1.h4{
	float: left;
	color: yellow;
	font-size: 30px;
	width: 40%;
	height: 60px;
	line-height: 60px;
	margin-left: 50px;
	font-family: arial;
}
ul.ul2{
	text-decoration: none;
	width: 50%;
	float: right;
	height: 60px;
	margin: 20px 0px 20px 0px;
}
li.l2{
	float: left;
	list-style: none;
	margin: 0px 5px 0px 5px;
}
a.a2{
	color: black;
	margin-left: 10px;
	float: left;
	width: 13%;
	text-decoration: none;
	height:50px;
	background: white;
	line-height: 50px;
	font-family: arial;
	font-size: 14px;
	text-align: center;
	text-transform: capitalize;
}
.khung1{
	float: left;
	width: 100%;
	height: 400px;
	background: black;
	margin: 0 auto;

}
.khung2{
	float: left;
	width: 100%;
	height: 350px;
	background: ;
	margin: 0 auto;
}
.khung1 .box1{
	float: left;
	margin: 0 auto;
	width: 60%;
	height:100%;
	background: black;
}
.khung1 .box1 h3{
	padding-top: 15px;
	padding-left: 6px;
	width: 99%;
	height: 100px;

	color: white;
	text-align: justify;
	text-transform: uppercase;
	
	font-size: 25px;
}
.khung1 .box1 p{
	padding-left: 6px;
	padding-top: 10px;
 padding-bottom: 40px;
	
	color: white;
	text-align: justify;
	font-size: 20px;

}
.khung1 .hinhanh{
	float: left;
	width: 40%;
	height: 100%;
	margin: 0 ;

}
.khung1 .hinhanh img{
	width: 100%;
	height: 100%;
	margin: 0 ;
}
.box1 a{
	padding-left: 6px;
	width: 50px;
	background: yellow;
	color: white;
	font-size: 30px;
	text-decoration: none;
}
.box1 a:hover
{
	background: red;
	color: green;
}
.khung2 .boxchuanh{
	float: left;
	width: 25%;
	height: 100%;
	margin: 0;
	background: white;
}
.boxchuanh img{
	padding-top: 40px;
	width: 100%;
	height: 60%;
	margin: 0;
}
.boxchuanh h2{
	
	width: 100%;
	height: 40%;
	text-align: center;
	color: red;
} 
.Khung{
	margin: 0 auto;
	width: 1000px;
	height: 400px;
}
.Box_Left {
	width: 60%;
	height: 100%;
	float: left;
	margin-left: 15px;
}
h3.img{
	float: left;
	margin-top: 30px;
	font-size: 30px;
	text-transform: uppercase;
	font-family: arial;
}
p.img{
	clear: both;
	font-size: 18px;

}
.menu {
	float: left;
	margin: 0;
	width: 70%;
	height: auto;
}
.menu ul{
	margin: 0;
	padding: 0;
}
.menu ul li{
	font-size: 17px;
	list-style: none;
	padding-top: 10px;
}
.menuimg {
	float: left;
	width: 40px;
	height: 100%;
}
.menuimg img{
	margin: 7px  0  0 5px;
	width: 20px;
	height: 20px;
}
img{
	float: left;
	width: 385px;
	height:100%;
}
.khung8 {
	clear: left;
	margin: 0 auto;
	width: 1000px;
	height: 400px;
	background: black;
}
.khung8 img{
	float: left;
	width: 100%;
	height: 100%;
	opacity: 0.2;
}
.khung8 .boxtop{
	float: left;
	margin-top: -404px;
	width: 100%;
	height: 40%;
}
.boxtop h2{
    text-transform: uppercase;
	color: white;
	font-size: 35px;
	font-family: arial;
}
.boxtop p{
	float: left;
	color: white;
	font-size: 17px;
	margin: 0 100px;   	
}
.khung8 .boxbottom{
	float: left;
	margin-top: -244px;
	width: 100%;
	height: 60%;
}
.boxbottom .boxtron{
	margin: 30px;
	float: left;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	border:5px solid white;
}
.boxtron h3{
	color: white;
	font-size: 30px;
	color: white;
    font-size: 60px;
    margin-left: 35px;
    margin-top: 15px;
}
.boxbottom .line{
	 float: left;
	 width: 100px;
	 height: 100px;
}
.line p{
	margin-top: 65px;
	float: left;
	font-size: 30px;
	color: white;
}
.boxtron a{
	margin-top: -10px;
	float: left;
	font-size: 25px;
	font-family: arial;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
}
.boxbut{
	width: 1000px;
	height: 400px;
	margin: 0 auto;
}
.boxbut .bilbutimg{
	float: left;
	width: 50%;
	height:100%;
}
.bilbutimg img{
	width: 100%;
	height:400px;
}
.bilright {
	float: left;
	width: 48%;
	margin-left: 2%;
	height:100%;
}
.bilright h1.the{
	float: left;
	text-transform: uppercase;
	font-size: 26px;
	font-family:arial;
	margin-top: 50px;
}
.bilright p.but{
	clear: both;
	float: left;
	margin-top: 15px;
	font-size: 17px;
	font-family: arial;

}
.bilright p.but2{
	width: 90%;
	clear: both;
	float: left;
	margin-top:5px;
	font-size: 14px;
	font-family: arial;

}
.bilright a.but{
	float: left;
	width: 140px;
	height:50px;
	background: #ffe01e;
	text-decoration: none;
	font-size: 15px;
	font-weight: 600;
	line-height: 50px;
	text-align: center;
	font-family: arial;
	text-transform: uppercase;
	border-radius: 4px;
	color: white;
}
.boxuda{
	width: 1000px;
	margin: 0 auto;
	height:50px;
	background: #3a3a38;
}
.boxuda p.hdl{
	font-size: 17px;
	margin:0;
	font-family: arial;
	line-height: 50px;
	text-align: center;
	font-weight: 600;
	color: white;
}
.BoxAnhGioiThieu
{
	margin: 0 auto;
	float: left;
	width: 1000px;
	height: 400px;
	background: #ffff;
}
.BoxAnhGioiThieu img{
	width: 1000px;
	height: 400px;
	margin-bottom: -350px;
	padding: 0;
}
 h1.gt{
 	clear: both;
	width: 400px;
	font-family: arial;
	margin-left: 20px;
	height:200px;
	margin-top: -300px;
	color: white;
	text-transform: uppercase;
	font-size: 50px;
}
p.gt{
	clear: both;
	width: 450px;
	font-family: arial;
	margin-left: 20px;
	height:200px;
	color: white;
	margin-top: -100px;
	text-transform: uppercase;
	font-size: 15px;
}
a.gt{
	margin-left: 20px;
	color: #ffff;
	width: 200px;
	height:50px;
	background: yellow;
	margin-top: -100px;
	font-size: 30px;
	text-decoration: none;
}

.BoxAnhTheChen
{
	margin:auto;
	float: left;
	width: 1000px;
	height: 400px;
	background: #ffff;
}
.BilAnh
{
	margin: auto;
	float: left;
	width: 100%;
	height: 50%;
	background:#ffff;
	
}
.BitAnh
{
	margin: 20px 10px 10px 15px;
	float: left;
	width: 30%;
	height: 99%;
	background: #ffff;
}
.BitAnh img.anh{
	width: 100%;
	height:100%;
}
.BilTheChen
{
	margin: auto;
	float: left;
	width: 100%;
	height: 50%;
	background: #ffff;
	
}
.BitTheChen
{
	margin: auto;
	float: left;
	width: 30%;
	height: 99%;
	margin-left: 1%;	
	background: #ffff;
}