.khung{
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
.boxtop{
	width: 1000px;
	height: auto;
	margin: 0 auto;
}


.boxtop_tren{
	width: 100%;
	height: 50px;
	background: black;
}
.boxtop_tren .biltrai{
	float: left;
	width: 45%;
	height: 50px;
}
.biltrai .bit1{
	float: left;
	width: 24%;
	height: 50;
}
.bit1 .pic1{
	float: left;
	width: 20px;
	height: 20px;
	margin: 15px 0px 15px 10px;
}
.bit1 h1.h1{
	text-transform: capitalize;
    float: left;
    font-size: 15px;
    color: white;
    line-height: 2;
}
.bit1 .pic2{
	float: left;
	width: 20px;
	height: 20px;
	margin: 15px 0px 15px 0px;
}
.biltrai .bit2{
	float: left;
	width: 12%;
	height: 50;
	margin: 0px 0px 0px 10px;
}
.bit2 h1.h2{
	text-transform: capitalize;
    float: left;
    font-size: 15px;
    color: white;
	line-height: 2;
}
.biltrai .line1{
	width: 1px;
	height: 80%;
	float: left;
	background: white;
	margin: 10px 0px 10px 0px;
}
.biltrai .bit3{
	float: left;
	width: 12%;
	height: 50;
	margin: 0px 0px 0px 10px;
}
.bit3 h1.h3{
	text-transform: capitalize;
    float: left;
    font-size: 15px;
    color: white;
	line-height: 2;
}
.biltrai .bit4{
	float: left;
	width: 24%;
	height: 50;
	margin: 0px 0px 0px 10px;
}
.bit4 .pic3{
	width: 20px;
	height: 20px;
	float: left;
	margin: 15px 0px 15px 0px;
}
.bit4 h1.h5{
	float: left;
	font-size: 12px;
	color: white;
	margin:15px 0px 15px 0px;
}
.boxtop_tren .bliphai{
	height:50px;
	width: 53%;
	float: left;
}
.bliphai ul.ul1{
	float: left;
	width: 50%;
	height: 50px;
}
li.li{
	float: left;
}
a.a1{
	text-transform: capitalize;
	text-align: center;
	font-size:17px;
	color: white;
	text-decoration: none;
	list-style-type: none;
	margin: 0px 10px 0px 10px;
}
.bliphai .bitr{
	float: left;
	width: 39%;
	height: 50px;
}
.bitr img{
	width: 30px;
	height: 30px;
	float: left;
	margin: 15px 0px 0px 0px;
}

.BoxAnhGioiThieu
{
	margin: 0 auto;
	float: left;
	width: 1000px;
	height: 400px;
	background: #ffff;
}
.BoxAnhTheChen
{
	margin:auto;
	float: left;
	width: 1000px;
	height: 400px;
	background: #ffff;
}
.BilAnh
{
	margin: auto;
	float: left;
	width: 100%;
	height: 50%;
	background:#ffff;
	
}
.BitAnh1
{
	margin: auto;
	float: left;
	width: 32%;
	height: 99%;
	margin-left: 1%;
	margin-top: 1.5%;
	margin-bottom: 1%;
	background: #ffff;
}
.BitAnh2
{
	margin: auto;
	float: left;
	width: 32%;
	height: 99%;
	margin-left: 1%;
	margin-top: 1.5%;
	margin-bottom: 1%;
	background: #ffff;
}
.BitAnh3
{
	margin: auto;
	float: left;
	width: 32%;
	height: 99%;
	margin-left: 0%;
	margin-top: 1.5%;
	margin-bottom: 1%;
	background: #ffff;
	margin-left: 1%;
}
.BilTheChen
{
	margin: auto;
	float: left;
	width: 100%;
	height: 50%;
	background: #ffff;
	
}
.BitTheChen1
{
	margin: auto;
	float: left;
	width: 32%;
	height: 99%;
	margin-left: 1%;

	
	background: #ffff;
}
.BitTheChen2
{
	margin: auto;
	float: left;
	width: 32%;
	height: 99%;
	margin-left: 1%;
	

	background: #ffff;
}
.BitTheChen3
{
	margin: auto;
	float: left;
	width: 32%;
	height: 99%;
	margin-left: 1%;

	
	background:#ffff;
}





.boxtop_duoi{
	width: 100%;
	height: 100px;
	background: white;
}

h1.h4{
	float: left;
	color: yellow;
	font-size: 30px;
	width: 40%;
	height: 100px;
	line-height: 100px;
	margin: 0;
	font-family: arial;
}
ul.ul2{
	list-style-type: none;
	text-decoration: none;
	width: 50%;
	float: right;
	height: 100px;
	margin: 20px 0px 20px 0px;
}
li.l2{
	float: left;
	margin: 0px 5px 0px 5px;
}
a.a2{
	color: black;
	margin-left: 10px;
	float: left;
	width: 13%;
	height:50px;
	background: white;
	line-height: 50px;
	font-family: arial;
	font-size: 20px;
	text-align: center;
	text-transform: capitalize;
}
a.a3{
	font-weight: 600;
	color: yellow;
	margin-left: 10px;
	float: left;
	width: 13%;
	height:50px;
	background: white;
	line-height: 50px;
	font-family: arial;
	font-size: 19px;
	text-align: center;
	text-transform: capitalize;
	list-style-type: none;
}
.khungthuy{
	width: 1000px;
	height: 750px;
	margin: 0 auto;
	background: gray;

}
.khungthuy .khung1{
	float: left;
	width: 100%;
	height: 400px;
	background: black;
	margin: 0 auto;

}
.khungthuy .khung2{
	float: left;
	width: 100%;
	height: 350px;
	background: ;
	margin: 0 auto;
}.khungthuy .khung1 .box1{
	float: left;
	margin: 0 auto;
	width: 60%;
	height:100%;
	background: black;
}
.khungthuy .khung1 .box1 h3{
	padding-top: 15px;
	padding-left: 6px;
	width: 99%;
	height: 100px;

	color: white;
	text-align: justify;
	text-transform: uppercase;
	
	font-size: 25px;
}
.khungthuy .khung1 .box1 p{
	padding-left: 6px;
	padding-top: 10px;
 padding-bottom: 40px;
	
	color: white;
	text-align: justify;
	font-size: 20px;

}
.khung1 .hinhanh{
	float: left;
	width: 40%;
	height: 100%;
	margin: 0 ;

}
.khung1 .hinhanh img{
	width: 100%;
	height: 100%;
	margin: 0 ;
}
.box1 a{
	padding-left: 6px;
	width: 50px;
	background: yellow;
	color: white;
	font-size: 30px;
	text-decoration: none;
}
.box1 a:hover
{
	background: red;
	color: green;
}
.khung2 .boxchuanh{
	float: left;
	width: 25%;
	height: 100%;
	margin: 0;
	background: white;
}
.boxchuanh img{
	padding-top: 40px;
	width: 100%;
	height: 60%;
	margin: 0;
}
.boxchuanh h2{
	
	width: 100%;
	height: 40%;
	text-align: center;
	color: red;
} 
.Khung{
	margin: 0 auto;
	width: 1000px;
	height: 400px;
}
.Box_Left {
	width: 60%;
	height: 100%;
	float: left;
	margin-left: 15px;
}
h3.img{
	float: left;
	margin-top: 30px;
	font-size: 30px;
	text-transform: uppercase;
	font-family: arial;
}
p.img{
	clear: both;
	font-size: 18px;

}
.menu {
	float: left;
	margin: 0;
	width: 70%;
	height: auto;
}
.menu ul{
	margin: 0;
	padding: 0;
}
.menu ul li{
	font-size: 17px;
	list-style: none;
	padding-top: 10px;
}
.menuimg {
	float: left;
	width: 40px;
	height: 100%;
}
.menuimg img{
	margin: 7px  0  0 5px;
	width: 20px;
	height: 20px;
}
img{
	float: left;
	width: 385px;
	height:100%;
}
.khung8 {
	clear: left;
	margin: 0 auto;
	width: 1000px;
	height: 400px;
	background: black;
}
.khung8 img{
	float: left;
	width: 100%;
	height: 100%;
	opacity: 0.2;
}
.khung8 .boxtop{
	float: left;
	margin-top: -404px;
	width: 100%;
	height: 40%;
}
.boxtop h2{
    text-transform: uppercase;
	color: white;
	font-size: 40px;
}
.boxtop p{
	float: left;
	color: white;
	font-size: 17px;
	margin: 0 100px;   	
}
.khung8 .boxbottom{
	float: left;
	margin-top: -244px;
	width: 100%;
	height: 60%;
}
.boxbottom .boxtron{
	margin: 30px;
	float: left;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	border:5px solid white;
}
.boxtron h3{
	color: white;
	font-size: 30px;
	color: white;
    font-size: 60px;
    margin-left: 35px;
    margin-top: 15px;
}
.boxbottom .line{
	 float: left;
	 width: 100px;
	 height: 100px;
}
.line p{
	margin-top: 65px;
	float: left;
	font-size: 30px;
	color: white;
}
.boxtron a{
	margin: 0;
	float: left;
	font-size: 30px;
	text-decoration: none;
	color: white;
}
